hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: inset;
  border-width: 1px;
}

.waver {
  font-size: 50pt;
  text-align: center;
  animation: waver 0.65s alternate infinite;
  transform-origin: 50% 90%;
  animation-timing-function: ease-in-out;
}

@keyframes waver {
  0% {transform: rotate(-25deg);}
  100% {transform: rotate(30deg);}
}
