<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add a Movie Night Out</title>
    <!--load bootstrap here-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1></h1>
      <a class="btn btn-primary" href="{% url 'movies:index' %}">Home</a>
      <a class="btn btn-info" href="{% url 'movies:new' %}">Add Movie and Review</a>
      <a class="btn btn-info" href="{% url 'movies:show' user.id %}">Your Reviews</a>
      <a class="btn btn-success" href="{% url 'movies:watch' %}">Watch Movie?</a>
      <a class="btn btn-success" href="{% url 'movies:add' %}">Add a Movie Night Out</a>
      <a class="btn btn-danger" href="{% url 'users:logout' %}">Log Out</a>


      <h1>Add a Movie Night Out Here</h1>

      {% if messages %}
        {% for message in messages %}
          {% if "outing" in message.tags %}
            <li>{{message}}</li>
          {% endif %}
        {% endfor %}
      {% endif %}

      <form class="form-horizontal" action="{% url 'movies:add_outing' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label class="col-sm-2 control-label">Movie:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="movie_out" placeholder="Enter Movie Here">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Location:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="location_out" placeholder="Enter Location Here">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Theater:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="theater_out" placeholder="Enter Theater Here">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Date:</label>
          <div class="col-sm-4">
            <input type="date" class="form-control" name="date_out" placeholder="Enter Date Here">
          </div>
        </div>

        <input type="submit" class="btn btn-info" value="Add Movie">

    </div>
  </body>
</html>
