<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Movie Reviews Dashboard</title>
    <!--load bootstrap here-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'movie_app/css/style.css' %}" charset="utf-8">

  </head>
  <body>
    <div class="container">
      <h1 style="text-align:center">WELCOME {{user.first_name}} {{user.last_name}}</h1>
      <h4 class="waver">👋</h4>

      <a class="btn btn-info" href="{% url 'movies:index' %}">Home</a>
      <a class="btn btn-info" href="{% url 'movies:new' %}">Add Movie and Review</a>
      <a class="btn btn-info" href="{% url 'movies:show' user.id %}">Your Reviews</a>
      <a class="btn btn-info" href="{% url 'movies:watch' %}">Watch Movie?</a>
      <a class="btn btn-info" href="{% url 'users:logout' %}">Log Out</a>

      <h2>Recent Movie Reviews</h2>
      <hr>

      {% for review in reviews %}
        <h3><a href="{% url 'movies:showMovie' id=review.movie.id %}">{{review.movie.title}}</a></h3>
        <h4>Rating: {{review.rating}}</h4>
        <h4><a href="{% url 'movies:show' id=review.user.id %}">{{review.user.first_name}}</a> says: {{review.description}}<h4>
        <h5>Posted on {{review.created_at}}</h5>
        {% if review.user.id == request.session.user_id %}
          <a class="btn btn-danger" href="{% url 'movies:delete' id=review.id %}">Delete</a>
        {% endif %}
        <hr>
      {% endfor %}

    </div>
  </body>
</html>
