<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Show Outing</title>
    <!--load bootstrap here-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      <h1></h1>
      <a class="btn btn-primary" href="{% url 'movies:index' %}">Home</a>
      <a class="btn btn-info" href="{% url 'movies:new' %}">Add Movie and Review</a>
      <a class="btn btn-info" href="{% url 'movies:show' user.id %}">Your Reviews</a>
      <a class="btn btn-success" href="{% url 'movies:watch' %}">Watch Movie</a>
      <a class="btn btn-success" href="{% url 'movies:add' %}">Add a Movie Night Out</a>
      <a class="btn btn-danger" href="{% url 'users:logout' %}">Log Out</a>

      {% if outing %}
      <h1>Movie: {{outing.movie}}</h1>
      <h3>Planned By: {{outing.user.first_name}} {{outing.user.last_name}}</h3>
      <h3>Location: {{outing.location}}</h3>
      <h3>Date: {{outing.date}}</h3>
      <h3>Theater: {{outing.theater}}</h3>
      {% endif %}

      <h1>Everyone in this outing:<h1>
        {% for group in groups %}
          <h3>{{group.first_name}} {{group.last_name}}</h3>
        {% endfor %}
      <br>

      {% if messages %}
        {% for message in messages %}
          {% if "comments" in message.tags %}
            <li>{{message}}</li>
          {% endif %}
        {% endfor %}
      {% endif %}

      <h1>Comments:</h1>
        <form class="form-horizontal" action="{% url 'movies:add_comment' id=outing.id %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-sm-1 control-label">Comment:</label>
            <div class="col-sm-4">
              <textarea class="form-control" name="comment"></textarea>
            </div>
          </div>
          <a class="btn btn-info" href="{% url 'movies:watch' %}">Go Back</a>
          <input type="submit" class="btn btn-info" value="Add Comment">
        </form>
      <h1></h1>

      {% for comment in comments %}
        <h3>{{comment.user.first_name}} says: {{comment.text}}</h3>
        <h4>Posted on: {{comment.created_at}}</h4>
        {% if user == comment.user %}
        <a class="btn btn-danger" href="{% url 'movies:delete_comment' id=comment.id %}">Delete Comment</a>
        {% endif %}
        <hr>
      {% endfor %}
    </div>
  </body>
</html>
